@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container" style="padding: 0 0 0 0 !important;">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-2 mb-4">Cinemanic</h1>
      <div class="btn-group-vertical w-100">
        <a class="btn btn-secondary btn-lg btn-block mb-5" href="http://localhost:5274/seanse" role="button">Seanse i kupno biletów</a>
      </div>
    </div>
  </div>
</div>

@model PostMovieViewModel

<div id="carouselExampleIndicators" class="carousel slide  mb-5" data-bs-ride="carousel">

    <div class="carousel-inner">
        @{
            int count2 = 0;
            foreach (var movie in Model.MoviesInfo)
            {
                <div class="carousel-item @(count2 == 0 ? "active" : "")">
                    <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>@movie.Title</h1>
                    </div>
                </div>
                count2++;
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-sm-4 mb-4">
            <div class="card">
                <a href="@post.Link"><img src="@post.FeaturedMediaUrl" onerror="this.src='/placeholders/placeholder.jpg';" alt="@post.Title.Rendered" class="card-img-top post-images" /></a>
            </div>
        </div>
    }
</div>

@{
    int movieNr = 1;
    @foreach (var movie in Model.MoviesInfo)
    {
        <a asp-controller="Screenings" asp-action="Details" asp-route-id="@movie.Id"><h2 class="mt-4">@movie.Title</h2></a>
        
        <div class="row justify-content-between">
          <div class="col-md-2">
                <a asp-controller="Screenings" asp-action="Details" asp-route-id="@movie.Id"><img src="https://image.tmdb.org/t/p/w200/@movie.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';" class="moviePoster"></a>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <p>@movie.Description</p>
          </div>
          <div class="col-md-2 d-flex justify-content-center flex-column align-items-end">
            <h4>Seanse</h4>
            <ul class="screeningDatesList">
              @foreach (var screening in movie.Screenings) {
                <li>@screening.ScreeningDate.ToString("dd-MM-yyyy  HH:mm")</li>
              }
            </ul>
          </div>
        </div>
        <div class="accordion mt-3" id="movieDesc@(movieNr)Accordion">
                <div class="card">
                    <div class="card-header" id="movieDesc@(movieNr)Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#movieDesc@(movieNr)Collapse" aria-expanded="false" aria-controls="movieDesc@(movieNr)Collapse">
                                Informacje:
                            </button>
                        </h3>
                    </div>
                    <div id="movieDesc@(movieNr)Collapse" class="collapse" aria-labelledby="movieDesc@(movieNr)Header" data-parent="#movieDesc@(movieNr)Accordion">
                        <div class="card-body">
                            <p>Premiera: @movie.ReleaseDate.Value.ToShortDateString()</p>
                            <p>Czas trwania: @movie.Duration minut</p>
                            <p>Film polski: @(movie.PolishMade ? "Tak" : "Nie")</p>
                            <p>Dla dorosłych: @(movie.Adult ? "Tak" : "Nie")</p>
                            <p>Kategorie: @string.Join(", ", movie.Genres)</p>
                        </div>
                    </div>
                </div>
            </div>
    
        @if (!string.IsNullOrEmpty(movie.Trailer))
        {
            <div class="accordion" id="trailer@(movieNr)Accordion">
                <div class="card">
                    <div class="card-header" id="trailer@(movieNr)Header">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trailer@(movieNr)Collapse" aria-expanded="false" aria-controls="trailer@(movieNr)Collapse">
                                Trailer:
                            </button>
                        </h3>
                    </div>
                    <div id="trailer@(movieNr)Collapse" class="collapse" aria-labelledby="trailer@(movieNr)Header" data-parent="#trailer@(movieNr)Accordion">
                        <div class="card-body">
                            <iframe width="560" height="315" src="@("http://www.youtube.com/embed/" + movie.Trailer)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        }
    movieNr++;
    }
}

<div class="row mt-5" id="posts-container">
    @foreach (var post in Model.Posts)
    {
        <div class="col-sm-4 mb-4">
            <div class="card">
                <img src="@post.FeaturedMediaUrl" class="card-img-top post-images" onerror="this.src='/placeholders/placeholder.jpg';" alt="@post.Title.Rendered" />
                
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@Html.Raw(post.Title.Rendered)</h5>
                    <div class="restrict-length"><p class="card-text">@Html.Raw(post.Content.Rendered)</p></div>
                    <a href="@post.Link" class="btn btn-secondary mt-4">Czytaj dalej</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="d-flex justify-content-evenly">
    <button id="newerPostsButton" class="btn btn-secondary" style="min-width: 10rem !important;">Nowsze</button>
    <button id="olderPostsButton" class="btn btn-secondary" style="min-width: 10rem !important;">Starsze</button>
</div>

<script>
    $(document).ready(function () {
        var currentPage = 1;
        var maxPage = 1;

        $.ajax({
            url: "/maksimum-paginacji-postow",
            data: { },
            type: "GET",
            dataType: "json",
            success: function (_maxPage) {
                maxPage = _maxPage;
                checkButtonVisibility();
            }
        });

        function getPosts(currentPage) {
            $.ajax({
                url: "/pobierz-posty",
                data: { page: currentPage },
                type: "GET",
                dataType: "json",
                success: function (posts) {
                    var postsContainer = $("#posts-container");

                    postsContainer.empty();

                    for (var i = 0; i < posts.length; i++) {
                        var post = posts[i];

                        var card = $('<div class="col-sm-4 mb-4"><div class="card"></div></div>');

                        var img = $('<img class="card-img-top post-images" onerror="this.src=\'/placeholders/placeholder.jpg\';" alt="' + post.title.rendered + '">');
                        img.attr('src', post.featuredMediaUrl);
                        card.find('.card').append(img);

                        var cardBody = $('<div class="card-body d-flex flex-column"></div>');
                        cardBody.append('<h5 class="card-title">' + post.title.rendered + '</h5>');
                        cardBody.append('<div class="restrict-length"><p class="card-text">' + post.content.rendered + '</p></div>');
                        cardBody.append('<a href="' + post.link + '" class="btn btn-secondary mt-4">Czytaj dalej</a>');

                        card.find('.card').append(cardBody);

                        postsContainer.append(card);
                    }
                    checkButtonVisibility();
                },

                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function loadOlderPosts() {
            currentPage++;
            getPosts(currentPage);
        }

        function loadNewerPosts() {
            currentPage--;
            getPosts(currentPage);
        }

        function checkButtonVisibility() {
            if (currentPage == maxPage) {
                $("#olderPostsButton").hide()
                $("#newerPostsButton").addClass("flex-grow-1");
            } else {
                $("#olderPostsButton").show();
                $("#newerPostsButton").removeClass("flex-grow-1");
            }

            if (currentPage == 1) {
                $("#newerPostsButton").hide();
                $("#olderPostsButton").addClass("flex-grow-1");
            } else {
                $("#newerPostsButton").show();
                $("#olderPostsButton").removeClass("flex-grow-1");
            }
        }

        $("#olderPostsButton").click(function () {
            loadOlderPosts();
        });
        
        $("#newerPostsButton").click(function () {
            loadNewerPosts();
        });
    });
</script>

