@model AccountViewModel

@{
    <h2>Moje konto</h2>
    <hr />
    <div class="col-md-8">
        <div class="accordion" id="personalInfoAccordion">
            <div class="card">
                <div class="card-header" id="personalInfoHeader">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#personalInfoCollapse" aria-expanded="true" aria-controls="personalInfoCollapse">
                            Informacje o koncie
                        </button>
                    </h3>
                </div>
                <div id="personalInfoCollapse" class="collapse show" aria-labelledby="personalInfoHeader" data-parent="#personalInfoAccordion">
                    <div class="card-body">
                        <p><strong>Email:</strong> @Model.Email</p>
                        <p><strong>Data urodzenia:</strong> @Model.BirthDate.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="accordion" id="ticketsAccordion">
            <div class="card">
                <div class="card-header" id="ticketsHeader">
                    <h3 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ticketsCollapse" aria-expanded="false" aria-controls="ticketsCollapse">
                            Bilety
                        </button>
                    </h3>
                </div>
                <div id="ticketsCollapse" class="collapse" aria-labelledby="ticketsHeader" data-parent="#ticketsAccordion">
                    <div class="card-body">
                        @foreach (var ticket in Model.Tickets)
                        {
                            if (ticket.IsActive == true)
                            {
                                <div>
                                <p><strong>Data Seansu:</strong> @(ticket.Screening.ScreeningDate.ToString("dd.MM.yyyy HH:mm"))</p>
                                <p><strong>Tytuł Filmu:</strong> @ticket.Screening.Movie.Title</p>
                                    <img src="https://image.tmdb.org/t/p/w500/@ticket.Screening.Movie.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';">
                                <p><strong>Numer miejsca:</strong> @ticket.Seat</p>
                                <p>
                                    Gatunki:
                                    @{
                                        var genreNames = new List<string>();
                                        foreach (var genre in @ticket.Screening.Movie.Genres)
                                        {
                                            genreNames.Add(genre.GenreName);
                                        }
                                        @string.Join(", ", genreNames)
                                    }
                                </p>
                            </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="accordion" id="archivedTicketsAccordion">
            <div class="card">
                <div class="card-header" id="archivedTicketsHeader">
                    <h3 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#archivedTicketsCollapse" aria-expanded="false" aria-controls="archivedTicketsCollapse">
                            Dawniejsze bilety
                        </button>
                    </h3>
                </div>
                <div id="archivedTicketsCollapse" class="collapse" aria-labelledby="archivedTicketsHeader" data-parent="#archivedTicketsAccordion">
                    <div class="card-body">
                        @{
                            foreach (var archivedTicket in Model.ArchivedTickets)
                            {
                                <div>
                                    <p><strong>Data Seansu:</strong> @(archivedTicket.ScreeningDate.ToString("dd.MM.yyyy HH:mm"))</p>
                                    <p><strong>Tytuł Filmu:</strong> @archivedTicket.Screening.Movie.Title</p>
                                    <img src="https://image.tmdb.org/t/p/w500/@archivedTicket.Screening.Movie.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';">
                                    <p>
                                        Gatunki:
                                        @{
                                            var genreNames = new List<string>();
                                            foreach (var genre in @archivedTicket.Screening.Movie.Genres)
                                            {
                                                genreNames.Add(genre.GenreName);
                                            }
                                            @string.Join(", ", genreNames)
                                        }
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="accordion" id="likesAccordion">
            <div class="card">
                <div class="card-header" id="likesHeader">
                    <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#likesCollapse" aria-expanded="false" aria-controls="likesCollapse">
                            Polubione filmy
                        </button>
                    </h3>
                </div>
                <div id="likesCollapse" class="collapse" aria-labelledby="likesHeader" data-parent="#likesAccordion">
                    <div class="card-body">
                        @{
                            @foreach (var like in Model.Likes)
                            {
                                <div>
                                    <p><strong>Tytuł Filmu:</strong> @like.Movie.Title</p>
                                    <img src="https://image.tmdb.org/t/p/w500/@like.Movie.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';">
                                    <p>
                                        Gatunki:
                                        @{
                                            var genreNames = new List<string>();
                                            foreach (var genre in @like.Movie.Genres)
                                            {
                                                genreNames.Add(genre.GenreName);
                                            }
                                            @string.Join(", ", genreNames)
                                        }
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="accordion" id="ordersAccordion">
            <div class="card">
                <div class="card-header" id="ordersHeader">
                    <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ordersCollapse" aria-expanded="false" aria-controls="ordersCollapse">
                            Zamówienia
                        </button>
                    </h3>
                </div>
                <div id="ordersCollapse" class="collapse" aria-labelledby="ordersHeader" data-parent="#ordersAccordion">
                    <div class="card-body">
                        @{  
                            var orderNr = 1;
                            @foreach (var order in Model.Orders)
                            {
                                <div>
                                    <p><strong>Zamówienie @orderNr @order.OrderStatus</strong></p>
                                    @foreach (var ticket in order.Tickets)
                                    {
                                        <div>
                                            <p><strong>Data Seansu:</strong> @(ticket.Screening.ScreeningDate.ToString())</p>
                                            <p><strong>Tytuł Filmu:</strong> @ticket.Screening.Movie.Title</p>
                                            <img src="https://image.tmdb.org/t/p/w500/@ticket.Screening.Movie.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';">
                                        </div>
                                    }
                                </div>
                                orderNr++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
</div>
}
