@model cinemanic.Models.MovieInfo

@{
    ViewData["Title"] = "Film";
}

<h1>Film</h1>

@{
    <h2 class="mt-4">@Model.Title</h2>
    <div class="row justify-content-between">
        <div class="col-md-2">
            <img src="https://image.tmdb.org/t/p/w500/@Model.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';" class="moviePoster">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <p>@Model.Description</p>
        </div>
        <div class="col-md-2 d-flex justify-content-center flex-column align-items-end">
            <h4>Seanse</h4>
            <ul class="screeningDatesList">
            @foreach (var screening in Model.Screenings)
                {
                    <li>@screening.ScreeningDate.ToString("dd-MM-yyyy  HH:mm")</li>
                }
            </ul>
        </div>
    </div>
    <div class="accordion mt-3" id="movieDescAccordion">
        <div class="card">
            <div class="card-header" id="movieDescHeader">
                <h3 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#movieDescCollapse" aria-expanded="false" aria-controls="movieDescCollapse">
                        Informacje:
                    </button>
                </h3>
            </div>
            <div id="movieDescCollapse" class="collapse" aria-labelledby="movieDescHeader" data-parent="#movieDescAccordion">
                <div class="card-body">
                <p>Release Date: @Model.ReleaseDate.Value.ToShortDateString()</p>
                <p>Duration: @Model.Duration minutes</p>
                <p>Polish Made: @Model.PolishMade</p>
                <p>Adult: @Model.Adult</p>
                <p>Genres: @string.Join(", ", Model.Genres)</p>
                </div>
            </div>
        </div>
    </div>
    
}