@model cinemanic.Models.Screening

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Screening</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtitles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtitles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dubbing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dubbing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is3D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is3D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
