@model List<cinemanic.Models.Ticket>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="container">
    <h3>Koszyk</h3>
    @{
        if (Model.Any())
        {
            int ticketNr = 1;
            <div class="accordion" id="accordion">
                @foreach (var ticket in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading@(ticketNr)">
                            <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapse@(ticketNr)" aria-expanded="false" aria-controls="collapse@(ticketNr)">
                                <p><strong>#@(ticketNr) </strong>@ticket.Screening.Movie.Title</p>
                            </button>
                        </h2>
                        <div id="collapse@(ticketNr)" class="collapse" aria-labelledby="heading@(ticketNr)" data-parent="#accordion">
                            <div class="accordion-body">
                                <p><strong>Data Seansu:</strong> @(ticket.Screening.ScreeningDate.ToString("dd-MM-yyyy hh:mm"))</p>
                                <img src="https://image.tmdb.org/t/p/w500/@ticket.Screening.Movie.PosterPath" onerror="this.src='/placeholders/placeholder.jpg';" class="mb-3" style="height:10rem; width:8rem;">
                                <p><strong>Numer miejsca:</strong> @ticket.Seat</p>

                                <form method="post" action="/bilety/usun/@ticket.Id">
                                    <input type="hidden" name="id" value="@ticket.Id" />
                                    <button class ="btn btn-primary" type="submit">Remove Ticket</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    ticketNr++;
                }
            </div>

            decimal totalPrice = Model[0]?.Order.TotalPrice ?? 0;

            <h3 class="mt-3">Łączny koszt: @(totalPrice)zł</h3>
            <h6 id="mature-audiences-only" class="mt-3"></h6>
            <form asp-controller="ShoppingCart" asp-action="Buy">
                <div class="form-group">
                    <input type="submit" value="Dalej" class="btn btn-primary mt-3" />
                </div>
                
            </form>

            @foreach (var ticket in Model)
            {
                @if (ticket.Screening.Movie.Adult)
                {
                    <script>document.getElementById('mature-audiences-only').innerHTML='Treści dla dojrzałych widowni'</script>
                    break;
                }
            }
        }
        else
        {
            <p>Brak biletów w koszyku.</p>
        }
    }
</div>
